.color1{color:#0B132B;}
.color2{color:#1C2541;}
.color3{color:#3A506B;}
.color4{color:#5BC0BE;}
.color5{color:#6FFFE9;}

article {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0B132B;
    border-radius: 10px;
}

label {
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5BC0BE;
    font-size: 15px;
}

#mensaje {
    width: 400px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: start;
}

#art-mensaje {
    width: 422px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 20px 620px;
}