nav {
    background-color: #c50fbc;
    padding: 2.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
nav a {
    color:white;
    text-decoration: none;
    font-weight: bold;

}

nav a:visited {
    color: white;
}
nav a:hover {
    color: #87a987;
}
main {
    background-color: #339253;
    margin: 0;
    padding-top: 80px;
}
