header {
    background-color: #42A5F5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

header p {
    font-size: 30px;
}