/* Base general css */

html {
    font-family: sans-serif;
    overflow-x: hidden;
}

body {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* Estilo Navbar General */ 

nav {
    display: flex;
    padding: 20px 10px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
}

nav a {
    font-size: 16px;
}

/* Estilos de index.html */

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    scroll-snap-align: start;
}

section {
    width: 100%;
    height: 100vh;
    padding-top: 59px;

    scroll-snap-align: start;
}

/* Header index.html */

header {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 59px;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    scroll-snap-align: start;
}

/* sections index.html */

.introduccion {
background-color: red;
}