@import url(layout.css);
@import url(navbar.css);


html {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #BBDEFB;
}

h1 {
    font-size: 60px;
    color: #fff;
}

h2 {
    font-size: 45px;
    color: #fff;
}

p {
    font-size: 22px;
    color: #fff;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 200px 100px;
    gap: 30px;
}