* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: radial-gradient(circle at center, #171225, #201933);
    background-attachment: fixed;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #2d2447;
}

.titulo{
    color: #A8F0C6;
    font-weight: bold;
    font-family: monospace;
}

nav a {
    color: #C9B6F8;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

nav a:hover, nav a.activo {
    color: #7EE8D4;
    border-bottom: 2px solid #7EE8D4;
    padding-bottom: 4px;
}

.caja {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.subtitulo {
    color: #FBE28A;
    font-family: monospace;
    font-size: 14px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffffff;
}

.text {
    color: #dcd3f6;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}

label {
    font-family: monospace;
    font-size: 12px;
    color: #A8F0C6;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    background-color: #221A36;
    border: 1px solid #332750;
    border-radius: 6px;
    color: white;
    margin-top: 5px;
}

input:focus, select:focus, textarea:focus {
    border-color: #7EE8D4;
}

.opciones-radio {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    font-size: 14px;
    color: #dcd3f6;
}

.opciones-radio input {
    width: auto;
}

button {
    background-color: #7EE8D4;
    color: #171225;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    width: 120px;
}

button:hover {
    background-color: #A8F0C6;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-top: 1px solid #2d2447;
    margin-top: 50px;
    font-family: monospace;
    font-size: 12px;
    color: #C9B6F8;
}