@import url(navbar.css);
@import url(table.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #90CAF9;
}

h1, h2, th{
    color: #fff;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 20px;
}