@import url(form.css);
@import url(navbar.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #BBDEFB;
}

h1 {
    color: white;
    font-size: 60px;
}